body{
    margin: 0;
    padding: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #007bff; /* Cambiar color de fondo de la barra lateral */
    position: fixed;
    padding-top: 30px;
    padding-left: 30px;
    font-family: 'Times New Roman', serif;
    border-right: 1px solid #dee2e6; /* Borde derecho para separar del contenido */

}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top:20px; /* Eliminar cualquier separación entre los enlaces */
    font-size: 1.6rem; /* Aumentar el tamaño del texto */
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: #0056b3; /* Cambiar color de fondo al pasar el ratón */
}
.sidebar a.active {
    background-color: darkturquoise; /* Color de fondo activo */
    color: #fff; /* Color de texto activo */
}
.content {
    text-align: center;
    margin-left: 250px;
    padding: 30px;
    font-family: 'Times New Roman', serif;
}

.icon {
    width: 24px; /* Ajustar el tamaño de los iconos */
    height: 24px; /* Ajustar el tamaño de los iconos */
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle; /* Alinear verticalmente los iconos */
}

.bt {
    font-size: 1.5rem;
    margin-left: 15%;
}
.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-right: 80px;
    text-align: center; /* Centrar el contenido */
    padding-bottom: 30px; /* Espacio inferior */
}